:root {
    --primary: white;
    --favourable: green; 
    --moderate: #FFCC00;
    --high: #f37220;
    --severe: red;
    --extreme: darkviolet;
  }
  
.navbar {
    font-size: 30px;
    font-style: bold;
}

.card{
  margin: 5px;
}

.forecast {
  margin-right: 0px;
  margin-left: 0px;
}
/* UV Index value styling */

.favourable {
  background-color: var(--favourable);
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  height: 150px;
  color: var(--primary);
}

.moderate {
  background-color: var(--moderate);
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  height: 150px;
  color: var(--primary);
}

.high {
  background-color: var(--high);
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  height: 150px;
  color: var(--primary);
}

.severe {
  background-color: var(--severe);
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  height: 150px;  
  color: var(--primary);
}

.extreme {
  background-color: var(--extreme);
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  height: 150px;
  color: var(--primary);
}