:root {
    --primary: white;
  }
  
  /* * {
    box-sizing: border-box;
  } */

.navbar {
    font-size: 30px;
    font-style: bold;
}

.card{
  margin: 5px;
}

.forecast {
  margin-right: 0px;
  margin-left: 0px;
}
/* UV Index value styling */

.favourable {
  background-color: green;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  height: 150px;
  color: var(--primary);
}

.moderate {
  background-color: orange;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  height: 150px;
  color: var(--primary);
}

.severe {
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  height: 150px;  
  color: var(--primary);
}

.extreme {
  background-color: violet;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  height: 150px;
  color: var(--primary);
}